/*==========================================================

ボタン

============================================================*/

.btn {
    background-color: #fff;
    color: #f8545f;
    margin-bottom: 3rem;
    border: 2px solid #f8545f;
}

.btn:hover {
    background-color: #f8545f;
    color: #fff;
    border: 2px solid #f8545f;
}

.btn-destroy {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.btn-good {
    display: block;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.good {
    background-color: #f8545f;
    color: #fff;
}

.good:hover {
    background-color: #fff;
    color: #f8545f;
}


/*==========================================================

会員登録画面

============================================================*/


label {
    font-size: 20px;
    font-weight: 500;
}

.form-type label {
    width: 50px;
    line-height: 2;
    margin-right: 60px;
}

input[type='radio'] {
    width: 20px;
    margin-bottom: .5rem;
    margin-right: 20px;
}

.form-sel select {
    width: 90% !important;
    margin-right: 20px;
}

.form-sel p {
    font-size: 16px;
    line-height: 2;
}

.form-control:focus {
    border-color:rgba(248, 84, 95, .3);
    box-shadow: 0 0 0 0.2rem rgba(248, 84, 95, .3);
}


.navbar {
    background-color: #f8545f;
}

.nav-item a {
    color: #fff;
    margin-left: 2rem;
}

.nav-pills {
    margin-top: 1rem;
}

.nav-pills >
.nav-item a{
    color: #007bff;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Comic Sans MS',sans-serif;;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/*==========================================================

welcome nologin

============================================================*/


h1 {
    font-family: 'Comic Sans MS',sans-serif;
}

.logout a {
    display: block;
    color: white;
}

.top {
    background: linear-gradient(25deg, rgba(255, 0, 0, 0.4), rgba(0, 255, 0, 0.4)) ,url(../imgs/top-bg.jpg);
    background-size: cover;
    background-position: 30% 30%;
    padding: 15rem;
}

.top-text {
    font-size: 20px;
}

.use {
    padding: 10rem 15rem;
}

.sec-tit {
    font-size:40px;
    font-family: 'Comic Sans MS','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

.contact {
    padding: 10rem 15rem;
    background-color: rgba(248, 84, 95,.2);
}


/*==========================================================

welcome login

============================================================*/

.sticky {
    position: sticky;
    top: 10px;
    z-index: 1;

}

.intro-img img {
    display: block;
    margin: 3rem auto;
    width: 70%;
    height: 200px;
    border-radius: 50%;

}

.intro-name {
    font-size:40px;
    font-family: 'Comic Sans MS','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.intro-birth {
    text-align: center;
}

.form-group {
    margin-top: 2rem;
}


/*==========================================================

user.show

============================================================*/

.card {
    width: 30%;
    height: auto;
    border: none;
}

.card-body {
    flex: none;
    
}

.card-body img {
    border-radius: 50%!important;
    margin-top: 35%;
}

.intro {
    width: 60%;
    padding: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.nav-tag a {
    color: #333;
    margin-left: 0;
}


/*==========================================================

posts

============================================================*/

.media {
    border: 2px solid #F2F2F2;
    border-radius: 10px;
}

.media-body {
    width: 95%;
}

.p-1 {
    width: 80%;
    overflow-wrap: break-word;
}


/*==========================================================

room

============================================================*/

.chat{
  max-width: 600px;
  margin: 0 auto;
}

.message-icon{
  width: 48px;
  height: 48px;
  text-align: center;
}

.message-text{
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}

.room-btn {
    margin-left: auto;
}

